body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 31px;
    position: relative;
}

.header {

    background-color: #f4f4f4;
    padding: 20px;
    border-bottom: #ccc 3px solid;
    min-width:532px;
}

.header span{
    font-style: italic;
font-size: 15px;
}

.startGame{
    height: 90px;
    background-color: #296e9a;
    margin: 100px auto;
    max-width: 280px;
    min-width: 240px;
    height: 109px;
    border-radius: 30px;

}

.startGame div:hover{
    background-color: #c8c8c8;
    cursor: pointer;
}

.startGame div {
    position: absolute;
    border-radius: 30px;
    padding: 15px 30px 15px 30px;
    border-radius: 30px;
    background-color: white;
    width: 173px;
    margin: 24px;

}

.roundPlayContainer{
    display: none;
    margin: 56px 0px 0px 0px;
}


.showMesageContainer{
    display: none;
}

.container {
    display: none;
    margin: 30px auto;
    background-color: #999999;
    height: 580px;
    min-width: 500px;
    max-width: 600px;
    padding: 10px;
}



.scoreBoard {
    margin-bottom: 10px;
   padding-top: 15px;
   border: 5px solid #fff;
   font-weight: bold; 
}



.scoreBoard h4 {
    font-size: 40px;
    text-align: center;
}




.scoreBoard .scoreFigures, .playerVsComputerChoice div {

    text-align: center;
    font-size: 30px;
    margin-bottom: 15px;
    margin: 10px;
}



.statusMessage {
    padding-top: 20px;
    margin: 10px auto;
    height: 70px;
    border: 5px solid #fff;

}



.displayWeapons {

    padding-top: 10px;
    font-size: 30px;
    text-align: center;
    border: 5px solid #fff;
    height: 120px;
   
    font-weight: bold;
}

.displayWeapons h3{
    color:#bb3c3c;
}

.displayWeapons .displayWraper{
    margin-top: 15px;
}

.playerScore, .computerScore {
    margin: 0 40px;
    font-weight: bold;
}

.playerVsComputerChoice {
 
    text-align: center;
    border: 5px solid #fff;
}



.player, .Vs, .computer {
    display: inline-block;
    margin-right: 20px;
    width: 110px;
} 




.player h3, .computer h3 {
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 30px;
    
}



.displayWeapons button{
    margin-top: 10px;
    width: 100%;
    height: 50px;
    background-color: #296e9a;
    color: #ffffff;
    border-radius: 5px;
}

.displayWeapons button:hover{
 
    background-color: #213C68;
    color: #bb3c3c;
   
    
}

.displayWraper #rock, #paper, #scissor , #btnReplay{
   display: inline-block;
   width: 150px;
   margin-right: 10px;

}

/*






.wrapperHide{
    display: none;
}



.replay{
    display: block;
}


.scoreBoard, .playerVsComputerChoice, .displayWeapons {
    width: 600px;
    margin: 10px auto;
    height: 150px;
}

.won {
    border-radius: 20%;
} */
